.battle_desc_bottom {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	margin-top: auto;

	div {
		i {
			width: 100%;
			height: 100%;
		}
	}
}

.battle_cover {
	article {
		padding: 20rem;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 10rem;
		}
	}
}

.battle_desc_bottom_buttons {
	display: flex;
	align-items: center;
	gap: 15rem;
	margin-left: auto;
}

.battle_desc_bottom_button_delete {
	button {
		background-color: var(--red);

		&:hover {
			background-color: var(--red);
		}
	}
}

.battle_delete_button {
	width: fit-content !important;
	margin: 0 !important;

	button {
		background-color: var(--red);

		&:hover {
			background-color: var(--red);
		}
	}
}
