@import '@/styles/mixins.scss';

.info_wrapper {
	display: flex;
	align-items: flex-start;
	gap: 40rem;
	justify-content: space-between;
	padding: 40rem;
	border-radius: 20rem;
	background: var(--bgLight);
	position: relative;
}

.info_level {
	article {
		border-radius: 50%;
		padding: 25rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	img {
		width: 230rem;
		height: 230rem;
	}
}

.info_stats {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 40rem;

	ul {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 30rem;

		li {
			position: relative;
			width: 100%;
			display: flex;
			align-items: center;
			gap: 30rem;

			&:not(:last-child) {
				&::after {
					content: '';
					position: absolute;
					width: 100%;
					height: 1rem;
					background: var(--text);
					opacity: 0.25;
					bottom: -15rem;
				}
			}

			div:nth-child(2) {
				margin-left: auto;
			}
		}
	}
}

.info_stats_head {
	display: grid;
	grid-template-columns: 1fr 40rem;
	gap: 20rem;

	h2 {
		@include font(700, 30rem, 125%);
	}

	button {
		margin: 0;
	}
}

.line_chart {
	width: 100%;
	padding: 20rem 40rem;
}
