@import '@/styles/mixins.scss';

.remove_form_wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20rem;
	height: 100%;

	b {
		transition: all 0.15s ease-in-out;
		opacity: 0.5;
		cursor: pointer;

		&:hover {
			opacity: 1;
			color: var(--primaryHov);
		}
	}

	div {
		span {
			opacity: 0.5;
		}
	}

	button {
		margin-top: 30rem;
		background: var(--red);

		&:hover {
			background: var(--red);
		}

		span {
			opacity: 1;
		}
	}
}

.remove_form_label {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8rem;
	position: relative;

	input {
		resize: none;
		width: 100%;
		padding: 15rem;
		padding-right: 40rem;
		@include font(500, 18rem, 120%);
		border-radius: 10rem;
		border: 1rem solid transparent;
		transition: all 0.15s ease-in-out;
		color: var(--text);
		box-shadow: var(--shadowOuter);
		background: var(--bgDark);

		&:focus {
			background: var(--bgLight);
			box-shadow: var(--shadowInner);
		}

		&:disabled {
			cursor: default;
			pointer-events: none;
			opacity: 0.5;

			~ svg {
				opacity: 0.5;
				cursor: default;
				pointer-events: none;
			}
		}
	}

	p {
		color: var(--red);
	}

	span {
		opacity: 0.5;
	}
}

.remove_form_control {
	width: 100%;
	gap: 16rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.error {
	position: relative;

	input {
		border: 1rem solid var(--red);
	}

	svg {
		width: 28rem;
		height: 28rem;
		position: absolute;
		right: 15rem;
		top: 40rem;
	}
}
