.logo_wrapper {
	min-width: max-content;
	display: flex;
	align-items: center;
	justify-self: flex-start;
	padding: 0 5rem;
	background: var(--bgLight);

	img {
		width: 50rem;
		height: 50rem;
		margin-right: 20rem;
	}
}

.logo_desc {
	position: relative;
	animation: visible 0.4s ease-in-out forwards;
}

@keyframes visible {
	0% {
		left: -100rem;
		opacity: 0;
	}
	35% {
		opacity: 0;
	}
	100% {
		left: 0;
		opacity: 1;
	}
}
